

body {background-color:black;font-family:arial;color:white;margin-left:400px; }

h1{color:grey;font-family:verdana;}


.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:50px;
    border-radius:25px;
    margin: 60px;
    
}

#principal{
    margin: 15px;
}

#rate{
    margin: 15x;
}

#years{
    margin: 15px;
}

button{
        margin-top: 15px;
   }

footer{
    margin-top: 15px;;
    margin-right: 30px;
    text-align: left;
}



